@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/Anuphan/Anuphan.css';

body {
  margin: 0;
  font-family: 'Anuphan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Anuphan', sans-serif;
}
